.car-details {
    border: 2px solid #D9D9D9; /* Border around the entire table */
    overflow-x: auto; /* Add horizontal scroll for small screens */
    width: 90%;
    margin-top: 20px;
}

.car-details table {
    /* background-color: bisque; */
    width: 100%;
    /* border-collapse: collapse; Use separate to keep the border around the entire table */
    border-spacing: 0; /* Set spacing between table cells to 0 */
}

.car-details td:first-child {
    width: 300px; /* Adjust the width as needed */
}

.car-details th,
.car-details td {
    /* background-color: #996418; */
    border: none; /* Remove any existing borders */
    padding: 8px;
    text-align: left;
}

.car-details th {
    background-color: #f2f2f2;
    color: #333;
}

.car-details select {
    border-radius: 2px;
    border: 2px solid #996418; /* Border color for the dropdown */
    padding: 5px; /* Adjust padding as needed */
}

.car-details tr {
    border-bottom: 2px solid #D9D9D9; /* Border around the entire table */
    padding: 20px;
    /* width: 90%; */
}

.car-details img {
    margin-top: 20px;
    width: 100%; /* Make image responsive */
    max-width: 100px; /* Limit maximum width */
    height: auto; /* Maintain aspect ratio */
}

.fa-regular {
    padding: 4px;
}

.check {
    color: green;
}

.xmark {
    color: red;
}

.trash {
    color: #E8516C;
    font-size: x-large;
    width: 80px;
    border: 2px solid #E8516C;
    background-color: #c5999d;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

}

.cart-con{
    /* background-color: #996418; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.num{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
     width: 100px;
     height: 45px;
     border: 2px solid rgb(135, 133, 133);
}
.bx{
    height: 30px;
    width: 30px;
    color: #f2f2f2;
    background-color: black;
    border-radius: 5px;
}
.pro{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.pay-opt{
    width: 100px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(33, 33, 33);
    margin-top: 10px;

     
}



.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-content {
    background-color: #ffff;
    padding: 30px;
    border-radius: 8px;
    height: 210px;
    width: 611px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid #996418;
}
.btbt{
    display: flex;
    gap: 20px;
}
.overlay button {
    margin: 0 10px;
}
.success-message {
    position: fixed;
    top: 10%;
    left: 50%;
    height: 146px;
    width: 611px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    background-color: #ffff;
    color: black;
    font-weight: bold;
    font-size: 24px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999; /* Ensure it's on top of other content */
}
.bt{
    border-radius: 10px;
    border: 2px solid #996418;
    width: 220px;
    height: 42px;
}
.Over{
    /* background-color: #c5999d; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrong{
    /* left: 20px; */
}
.inputj{
    width: 90%;
  /* padding: 12px 20px; */
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
}
.b{
    width: 175px;
    /* height: 37px;
    border-radius: 10px;
     */
}

/* Responsive Styling */
@media only screen and (max-width: 768px) {
    .car-details table {
        width: auto; /* Allow table to adjust its width */
    }
    .car-details td:first-child {
        width: auto; /* Allow first column to adjust its width */
    }
    .car-details img {
        width: 100%; /* Make image responsive */
        max-width: 50px; /* Limit maximum width */
    }
}

/* Further adjustments for smaller screens */
@media only screen and (max-width: 576px) {
    .car-details td {
        padding: 5px; /* Reduce padding for smaller screens */
        font-size: 12px; /* Decrease font size for smaller screens */
    }
    .car-details th {
        font-size: 14px; /* Decrease font size for smaller screens */
    }
   
    .pro{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}