@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
.navbar {
    transition: background-color 0.5s ease;
    background: transparent;
    margin-top: 0px !important;
  }  
.homeNavbar{
    background: transparent;
    border-bottom: 1px solid #fff;
    width: 100%;
}
.generalNavbar{
    background-color: #181717;
}
.nav-link{
    font-size: 16px;
    font-weight: 300;
    font-family: "Lora", serif;
}
.active{
    color: #996418 !important;
    font-weight: 600;
}
.product-category{
    width: 700px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}
.dropdown-item-nav{
    display: block;
    text-decoration: none;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    font-size: 14px;
    color: #000;
    text-transform: capitalize;
    border: 2px solid #996418;
    transition: all 0.3s ease;
    font-family: "Lora", serif;
}
.dropdown-item-nav:hover{
    background: #996418;
    color: #fff;
}

/* Hero banner Slider */
.heroBanner-slider{
    position: absolute;
    top: 0;
    z-index: -1;
    height: 100vh;
    width: 100%;
}
.slider-image{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}
.slider-content{
    font-family: 'Lora';
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    width: 60%;
}
.shopnowBtn{
    width: 300px;
    height: 50px;
    font-family: 'Lora';
    border: 1px solid #fff;
    font-size: 18px;

}
.slider-indicator{
    background: transparent;
    border: 1.5px solid #fff;
    height: 40px;
    width: 8px;
    border-radius: 2px;
}
.indicator-active{
    background-color: #fff;
}
.buttonNextPrev{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.prev{
    background: #eee;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #fff;
    transition: all 0.3s ease;
}
.next{
    background: #eee;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #fff;
    transition: all 0.3s ease;
}
.prev:hover,.next:hover{
    background: #000;
}


/* Footer */
.footer-text{
    font-size: 14px;
    line-height: 30px;
}
.social-icons{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3 ease;
}
.social-icons:hover{
    background: #ecb262;
}
.line{
    width: 75%;
    height: 1px;
    background: rgba(250, 249, 247, 0.587);
}
/* Scroll */
:root::-webkit-scrollbar {
    width: 5px;
    background: #514f4f;
  }
  
:root:-webkit-scrollbar-track {
    background: #514f4f;
  }
  
:root::-webkit-scrollbar-thumb {
    background: #996418;
    border-radius: 10px;
  }
  


  
