.section-heading{
    font-size: 24px;
    font-family: 'Lora';
    font-weight: 800;

}
.top-seller-container{
    width: 100%;
    border-radius: 5px;
}
.top-seller-container::-webkit-scrollbar {
    display: none;
  }
  
.top-seller-container {
    -ms-overflow-style: none;
    scrollbar-width: none;  
}
.text-mission{
    font-size: 42px;
    color: #7B5012;
    font-weight: 700;
    font-family: 'Lora';
}
.sub-text-mission{
    margin-top: 10px;
    font-size: 20px;
    color: #000000bd;
}
.mission{
    background: url('../images/mission.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.location{
    background: url('../images/location.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.promise{
    background: url('../images/promise.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.text-mission-heading{
    text-decoration: underline;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}
.text-mission-sub-heading{
    font-size: 27px;
    font-weight: 900;
    color: #fff;
}
.location-heading{
    text-decoration: underline;
    font-size: 20px;
    font-weight: 500;
    color: #51200B; 
}
.location-sub-heading{
    font-size: 27px;
    font-weight: 900;
    color: #51200B;
}