.product-card{
    border: 1.4px solid #9963188d;
    border-radius: 10px;
    height: 400px;
}
.productImg> img{
    width: 100%;
    height: 170px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.product-title{
    font-size: 16px;
    font-weight: 700;
    color: #000000be;
}
.product-owner{
    font-size: 12px;
    color: #0000007e;
}
.price{
    font-size: 14px;
    font-weight: 600;
}
.status{
    font-size: 14px;
}
.productDes{
    font-size: 14px;
}
.btn-add-to-cart,.btn-comment,.total-products{
    height: 35px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-add-to-cart{
    background: #996318;
    border: none;
    font-size: 14px;
    font-weight: 700;
}
.btn-comment,.total-products{
    width: 40px;
    border: 1px solid #9963188d;
    background: transparent;
    color: #996318;
    background: #eee;
}