.outerC {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.c11 {
    flex: 2;
    margin-right: 40px;
    margin-top: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.c11 .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.c11 .form-group label {
    width: 150px;
    text-align: left;
    margin-right: 15px;
}

.c11 .form-group input {
    flex: 1;
    width: 100%;
}

.c22 {
    flex: 1;
    flex-direction: column;
}

/* Adjustments to form styling */
.form-group {
    margin-bottom: 20px;
}

label {
    /* font-weight: bold; */
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 80%;
    padding: 10px;
    background-color: #AD854D;
    border: none;
    border-radius: 5px;
    color: #fff;
    /* margin-left: 10%; */
    cursor: pointer;
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color: #a46d1f;
}

/* Adjustments to image styling */
.c22 img {
    max-width: 100%;
    height: auto;
    display: block;
}

.d1 {
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 20px;
    display: inline-block;
}

.d2 {
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 20px;
    display: inline-block;
}

.d3 {
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 20px;
    display: inline-block;
}

/* Responsive adjustments */
@media only screen and (max-width: 768px) {
    .outerC {
        flex-direction: column;
    }
    .c11 {
        margin-right: 0;
        /* margin-left: 80px; */
        width: 110%;
    }
   
    button[type="submit"] {
        margin-left: 0;
    }
    .c22 {
        order: -1; /* Bring the image on top */
    }
    input[type="submit"] {
       margin-left: 10%;
    }
    .c11 .form-group label {
        width: 100px;
        text-align: left;
        margin-right: 10px;
        margin-left: 40px;
    }
}
