.shopHero-banner{
    background: url('./../images/shop.png');
    height: 20vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.each{
    background-color: #EEEEEE;
    display: flex;
    margin-top: 30px;
    width: 94%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    /* outline: 1px solid transparent; 
    box-shadow: 
    0 0 0 calc(13% + 1px) rgba(0, 0, 0, 0.5); */
    gap: 10px;
    border: 1.4px solid #b9b8b8;
    /* border: 0.3px solid #000000; Border to simulate stroke */
}
.imm{
    height: 120px;
    width: 280px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}
.im{
    height: 110px;
    width: 360px;
    border-radius: 14px;
    display: block;
    object-fit: cover;
    object-position: center;
}
.c1{
    width: 350px;
    /* background-color: beige; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.c2{
    /* background-color: bisque; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 75%;
    gap: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.c3{
    /* background-color: aqua; */
    /* height: 90%; */
    /* width: 70%; */
}
.bbt{
    background-color: #AD854D;
    width: 280px;
    border: none;
    height: 50px;
    color: #EEEEEE;
    border-radius: 10px;
}
